<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="menu-bar__container">

	<div class="menu-bar__logo">
		<img src="../../../assets/ps-logo.png" alt="">
	</div>

	<div class="menu-bar__item">
		<ul>
			<li>
				<i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
				<a href="">Youtube</a>
			</li>

			<li>
				<i class="fa-brands fa-linkedin" style="color: #0080ff"></i>
				<a href="">LinkedIn</a>
			</li>

			<li>
				<i class="fa-brands fa-github" style="color: #000000"></i>
				<a href="">GitHub</a>
			</li>
		</ul>
	</div>

</div>

